  <!-- who section -->
  {%load static%}
  <section class="who_section layout_padding">
    <div class="container who_container">
      <div class="who_img-box">
	      <img src="{% static 'newsoftMain/images/pc.jpg'%}" alt="" />
      </div>
      <div class="who_deail-box">
        <h2>
          QUIENES SOMOS
        </h2>
        <p>
	Somos una empresa dedicada a la creación de sitios web, de un alto estandar de calidad y manteniabilidad.
        </p>
        <div>
	<a href="{%url 'mostrar_contact'%}">
            CONTACTANOS
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- end who section -->

  </section>


