<!DOCTYPE html>
<html>

{% include 'newsoftMain/header.html' %}
{% load static %}
<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
	      {% include 'newsoftMain/navbar.html'%}
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- end who section -->

  <!-- info section -->
  {% include 'newsoftMain/about_content.html'%}
  <!-- end info section -->
  {%include 'newsoftMain/info_section.html'%}
  <!-- footer section -->
  {% include 'newsoftMain/footer.html'%}
 </script>
 </script>
</body>


</html>
