<!DOCTYPE html>
<html>
{% load static %}
<body>
{% include 'newsoftMain/header.html' %}
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
	 {% include 'newsoftMain/navbar.html' %}
      </div>
    </header>
    <!-- end header section -->
  </div>


  <!-- who section -->
  <section class="who_section layout_padding">
    <div class="container who_container">
      <div class="who_img-box">
	      <img src="{% static 'newsoftMain/images/pc.jpg' %}" alt="" />
      </div>
      <div class="who_deail-box">
        <h2>
        ¿Quienes somos? 
	</h2>

        <p>
Newsoft es una empresa líder en el desarrollo de software, comprometida con ofrecer soluciones innovadoras y de alta calidad que satisfacen las diversas necesidades de nuestros clientes. Nuestro equipo de desarrolladores y diseñadores expertos trabaja de manera colaborativa para crear software que no solo sea funcional, sino también escalable y fácil de usar. Nos especializamos en una amplia gama de servicios, desde el desarrollo de software personalizado hasta aplicaciones web y móviles, asegurando que cada proyecto esté adaptado a los requerimientos únicos de nuestros clientes.

En Newsoft, damos prioridad a las tecnologías y metodologías más avanzadas para proporcionar a nuestros clientes soluciones de vanguardia. Nuestro compromiso con la excelencia nos impulsa a evolucionar y adaptarnos continuamente al cambiante panorama de la industria del software, asegurando que nos mantengamos a la vanguardia de la innovación.

Creemos en construir relaciones sólidas y duraderas con nuestros clientes, entendiendo sus objetivos de negocio y entregando software que les ayude a alcanzar el éxito. Ya sea que seas una startup buscando lanzar tu primer producto o una empresa establecida que necesita una solución empresarial compleja, Newsoft es tu socio de confianza en el desarrollo de software.
	</p>

        <div>
          <a href="">
            Read More
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- end who section -->

  <!-- info section -->
  <section class="info_section layout_padding">
    <div class="container info_content">
      <div>
        <div class="row">
          <div class="col-md-4">
            <div class="d-flex">
              <h5>
                New software
              </h5>
            </div>
            <div class="d-flex ">
              <ul>
                <li>
                  <a href="">
                    About Us
                  </a>
                </li>
                <li>
                  <a href="">
                    About services
                  </a>
                </li>
                <li>
                  <a href="">
                    About Departments
                  </a>
                </li>
                <li>
                  <a href="">
                    Services
                  </a>
                </li>
                <li>
                  <a href="">
                    Contact Us
                  </a>
                </li>
              </ul>
              <ul class="ml-3 ml-md-5">
                <li>
                  <a href="">
                    Loram ipusm
                  </a>
                </li>
                <li>
                  <a href="">
                    Loram ipusm
                  </a>
                </li>
                <li>
                  <a href="">
                    Loram ipusm
                  </a>
                </li>
                <li>
                  <a href="">
                    Loram ipusm
                  </a>
                </li>
                <li>
                  <a href="">
                    Loram ipusm
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="d-flex">
              <h5>
                The Services
              </h5>
            </div>
            <div class="d-flex ">
              <ul>
                <li>
                  <a href="">
                    About Us
                  </a>
                </li>
                <li>
                  <a href="">
                    About services
                  </a>
                </li>
                <li>
                  <a href="">
                    About Departments
                  </a>
                </li>
                <li>
                  <a href="">
                    Services
                  </a>
                </li>
                <li>
                  <a href="">
                    Contact Us
                  </a>
                </li>
              </ul>
              <ul class="ml-3 ml-md-5">
                <li>
                  <a href="">
                    Lorem ipsum dolor
                  </a>
                </li>
                <li>
                  <a href="">
                    sit amet, consectetur
                  </a>
                </li>
                <li>
                  <a href="">
                    adipiscing elit,
                  </a>
                </li>
                <li>
                  <a href="">
                    sed do eiusmod
                  </a>
                </li>
                <li>
                  <a href="">
                    tempor incididunt
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="d-flex">
              <h5>
                Contact Us
              </h5>
            </div>
            <div class="d-flex ">
              <ul>
                <li>
                  <a href="">
                    About Us
                  </a>
                </li>
                <li>
                  <a href="">
                    About services
                  </a>
                </li>
                <li>
                  <a href="">
                    About Departments
                  </a>
                </li>
                <li>
                  <a href="">
                    Services
                  </a>
                </li>
                <li>
                  <a href="">
                    Contact Us
                  </a>
                </li>
              </ul>
              <ul class="ml-3 ml-md-5">
                <li>
                  <a href="">
                    Lorem ipsum
                  </a>
                </li>
                <li>
                  <a href="">
                    dolor sit amet,
                  </a>
                </li>
                <li>
                  <a href="">
                    consectetur
                  </a>
                </li>
                <li>
                  <a href="">
                    adipiscing
                  </a>
                </li>
                <li>
                  <a href="">
                    elit, sed do eiusmod
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center align-items-lg-baseline">
        <div class="social-box">
          <a href="">
            <img src="images/fb.png" alt="" />
          </a>

          <a href="">
            <img src="images/twitter.png" alt="" />
          </a>
          <a href="">
            <img src="images/linkedin1.png" alt="" />
          </a>
          <a href="">
            <img src="images/instagram1.png" alt="" />
          </a>
        </div>
        <div class="form_container mt-5">
          <form action="">
            <label for="subscribeMail">
              Newsletter
            </label>
            <input type="email" placeholder="Enter Your email" id="subscribeMail" />
            <button type="submit">
              Subscribe
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- end info section -->

  <!-- footer section -->
  {% include 'newsoftMain/footer.html'%}
</body>

</html>
