<!DOCTYPE html>
<html>
  <head>
    {% include 'newsoftMain/header.html' %}
  </head>
{% load static %}

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
{% include 'newsoftMain/navbar.html'%}

      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- contact section -->
  {% include 'newsoftMain/contact_content.html' %}
  
  <!-- info section -->
  {% include 'newsoftMain/info_section.html' %}
  <!-- end info section -->
  <!-- footer section -->
  {% include 'newsoftMain/footer.html'%}


</body>

</html>
