<section class="feature_section layout_padding">
	{%load static%}
    <div class="container">
      <h2 class="text-uppercase">
        Nuestras características
      </h2>
    </div>
    <div class="">
      <div class="feature_card-container layout_padding2">
        <div class="feature_card">
          <div class="feature_img-container">
            <div class="feature_img-box">
		    <img src="{% static 'newsoftMain/images/f1.png'%}" alt="" />
            </div>
          </div>
          <div class="feature_detail-box">
            <h4>
              CÓDIGO LIMPIO Y ESCALABLE
            </h4>
            <p>
              Escribir código limpio y escalable es fundamental para el éxito de cualquier proyecto de software. 
              Un código bien estructurado no solo facilita el mantenimiento y la comprensión, sino que también 
              permite la adición de nuevas funcionalidades sin comprometer la integridad del sistema. 
              Implementar buenas prácticas de desarrollo, como la modularidad y la reutilización de componentes, 
              garantiza que el código sea robusto y adaptable a futuros cambios.
            </p>
          </div>
        </div>
        <div class="feature_card">
          <div class="feature_img-container">
            <div class="feature_img-box">
              <img src="{% static 'newsoftMain/images/f2.png'%}" alt="" />
            </div>
          </div>
          <div class="feature_detail-box">
            <h4>
              GRAN ALCANCE A NIVEL GOOGLE.
            </h4>
            <p>
              Alcanzar una gran visibilidad en Google es crucial para el éxito en línea. 
              Optimizar tu sitio web para los motores de búsqueda mediante estrategias de 
              SEO efectivas puede incrementar significativamente el tráfico orgánico. 
              Esto incluye el uso de palabras clave relevantes, la creación de contenido de 
              calidad y la optimización técnica del sitio. Un buen posicionamiento en 
              Google no solo mejora la accesibilidad para los usuarios, sino que también 
              impulsa el reconocimiento de tu marca a nivel global.
            </p>
          </div>
        </div>
        <div class="feature_card">
          <div class="feature_img-container">
            <div class="feature_img-box">
              <img src="{% static 'newsoftMain/images/f3.png'%}" alt="" />
            </div>
          </div>
          <div class="feature_detail-box">
            <h4>
              UTILIZAMOS ALTA GAMAS DE TIPOS DE LETRAS.
            </h4>
            <p>
              La elección de una alta gama de tipos de letras puede transformar por 
              completo la experiencia visual de un proyecto. Tipografías cuidadosamente 
              seleccionadas no solo mejoran la legibilidad, sino que también refuerzan la 
              identidad de la marca y el mensaje que se quiere transmitir. Desde fuentes elegantes 
              y minimalistas hasta tipografías modernas y atrevidas, una buena tipografía es clave 
              para captar la atención y comunicar efectivamente la esencia de tu contenido.
            </p>
          </div>
        </div>
        <div class="feature_card">
          <div class="feature_img-container">
            <div class="feature_img-box">
              <img src="{% static 'newsoftMain/images/f4.png'%}" alt="" />
            </div>
          </div>
          <div class="feature_detail-box">
            <h4>
              ALTA RESOLUCIÓN Y CALIDAD.
            </h4>
            <p>
              En un mundo digital donde la primera impresión cuenta, la alta resolución 
              y calidad en las imágenes y gráficos es fundamental. Utilizar recursos 
              visuales en alta definición no solo mejora la estética de tu proyecto, sino 
              que también transmite profesionalismo y atención al detalle. Ya sea en diseño
              web, material publicitario o contenido multimedia, la nitidez y claridad 
              visuales son clave para destacar y mantener el interés del usuario.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
