    <!-- footer section -->
{% load static %}
    <section class="container-fluid footer_section">
      <p>
        &copy; 2019 All Rights Reserved. Design by
        <a href="https://html.design/">Free Html Templates</a>
      </p>
    </section>
    <!-- footer section -->

    <script src="{% static 'newsoftMain/js/jquery-3.4.1.min.js'%}"></script>
    <script src="{% static 'newsoftMain/js/bootstrap.js'%}"></script>

    <script>
      function openNav() {
        document.getElementById("myNav").classList.toggle("menu_width");
        document
          .querySelector(".custom_menu-btn")
          .classList.toggle("menu_btn-style");
      }
    </script>

