  <section class="info_section layout_padding">
	  {%load static%}
    <div class="container info_content">
      <div>
        <div class="row">
          <div class="col-md-4">
            <div class="d-flex">
              <h5>
                Nuevos Software 
              </h5>
            </div>
            <div class="d-flex ">
              <ul>
                <li>
                  <a href="">
                    About Us
                  </a>
                </li>
                <li>
                  <a href="">
                    About services
                  </a>
                </li>
                <li>
                  <a href="">
                    About Departments
                  </a>
                </li>
                <li>
                  <a href="">
                    Services
                  </a>
                </li>
                <li>
                  <a href="">
                    Contact Us
                  </a>
                </li>
              </ul>
              
            </div>
          </div>
          <div class="col-md-4">
            <div class="d-flex">
              <h5>
                Servicios Prestados
              </h5>
            </div>
            <div class="d-flex ">
              <ul>
                <li>
                  <a href="">
                    About Us
                  </a>
                </li>
                <li>
                  <a href="">
                    About services
                  </a>
                </li>
                <li>
                  <a href="">
                    About Departments
                  </a>
                </li>
                <li>
                  <a href="">
                    Services
                  </a>
                </li>
                <li>
                  <a href="">
                    Contact Us
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="d-flex">
              <h5>
                Contactanos
              </h5>
            </div>
            <div class="d-flex ">
              <ul>
                <li>
                  <a href="">
                    About Us
                  </a>
                </li>
                <li>
                  <a href="">
                    About services
                  </a>
                </li>
                <li>
                  <a href="">
                    About Departments
                  </a>
                </li>
                <li>
                  <a href="">
                    Services
                  </a>
                </li>
                <li>
                  <a href="">
                    Contact Us
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center align-items-lg-baseline">
        <div class="social-box">
          <a href="">
            <img src="{% static 'newsoftMain/images/fb.png'%}" alt="" />
          </a>
          <a href="">
            <img src="{% static 'newsoftMain/images/twitter.png'%}" alt="" />
          </a>
          <a href="">
            <img src="{% static 'newsoftMain/images/linkedin1.png'%}" alt="" />
          </a>
          <a href="">
            <img src="{% static 'newsoftMain/images/instagram1.png'%}" alt="" />
          </a>
        </div>
        <div class="form_container mt-5">
          <form action="">
            <label for="subscribeMail">
              Últimas noticias
            </label>
            <input type="email" placeholder="Ingresa tu email" id="subscribeMail" />
            <button type="submit">
              Subscribirse
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>


