{% load static %}
<section class="about_section layout_padding">
      <div class="container">
        <h2 class="text-uppercase">
          ¿Que tipo de paginas web realizamos?
        </h2>
      </div>

      <div class="container">
        <div class="about_card-container layout_padding2-top">
          <div class="about_card">
            <div class="about-detail">
              <div class="about_img-container">
                <div class="about_img-box">
			<a href="{% url 'mostrar_template1'%}">
				<img src="{% static 'newsoftMain/images/work1.png'%}" alt="" />
			</a>
                </div>
              </div>
              <div class="card_detail-ox">
                <h4>
                  VENTA ELECTRONICOS
                </h4>
                <p>
                Diseñado para adaptarse perfectamente a cualquier tamaño de pantalla, desde dispositivos 
		móviles hasta monitores de escritorio. Garantiza una presentación visual coherente 
		y atractiva, sin importar el dispositivo utilizado por los usuarios.    
		</p>
              </div>
            </div>
          </div>
          <div class="about_card">
            <div class="about-detail">
              <div class="about_img-container">
                <div class="about_img-box">
			<a href="{% url 'mostrar_template2'%}">
				<img src="{% static 'newsoftMain/images/work2.png'%}" alt="" />
			</a>
		</div>
              </div>
              <div class="card_detail-ox">
                <h4>
                 CAFEE RESTAURANTE 
                </h4>
                <p>
		Proporcionando una guía detallada que cubre todos los aspectos de su uso, 
		configuración y personalización.
		La documentación exhaustiva asegura que los usuarios puedan comprender y aprovechar 
		al máximo todas las funcionalidades ofrecidas, facilitando tanto la implementación 
		como el mantenimiento.
                </p>
              </div>
            </div>
          </div>
          <div class="about_card">
            <div class="about-detail">
              <div class="about_img-container">
                <div class="about_img-box">
			<a href="{% url 'mostrar_template3'%}">
				<img src="{% static 'newsoftMain/images/work3.png'%}" alt="" />
			</a>
		</div>
              </div>
              <div class="card_detail-ox">
                <h4>
		POR DEFINIR
                </h4>
                <p>
		Los sitios web construidos son faciles e intuitivos de utilizar, permitiendo a los usuarios
		interactuar y navegar sin esfuerzo. Su interfaz amigable asegura que tanto principiantes 
		como usuarios experimentados puedan aprovechar al máximo sus funcionalidades 
		desde el primer momento."

                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


