
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with JohnDoe landing page.">
    <meta name="author" content="Devcrud">
    <title>Yean Pasten Candidato a CORE 2024</title>
    <!-- font icons -->
    {%load static%}
    <link rel="stylesheet" href="{%static 'Template7/assets/vendors/themify-icons/css/themify-icons.css'%}?v={{ STATIC_VERSION }}">
    <!-- Bootstrap + JohnDoe main styles -->
	<link rel="stylesheet" href="{%static 'Template7/assets/css/johndoe.css'%}?v={{ STATIC_VERSION }}">
    <link rel="icon" type="image/x-icon" href="{% static 'Template7/assets/imgs/f4.jpg' %}?v={{ STATIC_VERSION }}">

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
	<header class="header">
        <div class="container">
            <ul class="social-icons pt-3">
                <li class="social-item"><a target="_blank" class="social-link text-light" href="https://www.facebook.com/yeanpastencore"><i class="ti-facebook" aria-hidden="true"></i></a></li>
                <li class="social-item"><a target="_blank" class="social-link text-light" href="https://www.instagram.com/yeanpastencore/"><i class="ti-instagram" aria-hidden="true"></i></a></li>
                <li  class="social-item"></li>
                <li class="social-item"></a></li>                
                <li  class="social-item"></a></li>
            </ul>  
            <div class="header-content">
                <h4 class="header-subtitle" >HOLA, SOY </h4>
                <h1 class="header-title">YEAN PASTEN GALVEZ</h1>
                <h6 class="header-mono" >PSICÓLOGO | CANDIDATO A CONSEJERO REGIONAL 2024</h6>
                <button class="btn btn-primary btn-rounded" onclick="window.print()">
                    <i class="ti-printer pr-2"></i>Imprimir Resumen
                </button>
                
            </div>
        </div>
    </header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white" data-spy="affix" data-offset-top="510">
        <div class="container">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse mt-sm-20 navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="#home" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#about" class="nav-link">Sobre mi</a>
                    </li>
                    <li class="nav-item">
                        <a href="#resume" class="nav-link">Resumen</a>
                    </li>
                </ul>
                <ul class="navbar-nav brand">
			<img src="{%static 'Template7/assets/imgs/avatar.jpg'%}?v={{ STATIC_VERSION }}" alt="" class="brand-img">
                    <li class="brand-txt">
			<a href="{%url 'mostrar_portafolio'%}">
				<h5 class="brand-title">Yean Pasten</h5>
			</a>
                        <div class="brand-subtitle">Candidato CORE | CORE 2024</div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#experiencia" class="nav-link">Mis Experiencias</a>
                    </li>
                    <li class="nav-item">
                        <a href="#blog" class="nav-link">Blog</a>
                    </li>
                    <li class="nav-item last-item">
                        <a href="#contact" class="nav-link">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div id="about" class="row about-section d-flex justify-content-center">
            <div class="col-lg-3 about-card">
                <h3 class="font-weight-light">¿Quién soy?</h3>
                <span class="line mb-5"></span>
                <h5 class="mb-3">Psicólogo con 7 años de experiencia en el sector público</h5>
                <p class="mt-20">Especializado en trabajos bajo presión, promoción de la participación ciudadana, inclusión y comunicación efectiva.</p>
            </div>
            <div class="col-lg-5 about-card">
                <h3 class="font-weight-light text-center">Desarrollo Profesional</h3>
                <span class="line mb-5"></span>
                <div class="row">
                    <div class="col-1 text-danger pt-1"><i class="ti-widget icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>Participación Ciudadana para el Desarrollo Local</h6>
                        <p class="subtitle">Impulso de proyectos comunitarios, promoviendo la participación activa de los ciudadanos en el desarrollo de su entorno local.</p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-1 text-danger pt-1"><i class="ti-brush-alt icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>Psicoterapia Breve</h6>
                        <p class="subtitle">Experiencia en terapias breves, ayudando a individuos a abordar y resolver problemas emocionales de manera eficaz y en poco tiempo.</p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-1 text-danger pt-1"><i class="ti-comments-smiley icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>Habilidades Comunicativas</h6>
                        <p class="subtitle">Excelentes habilidades en comunicación efectiva, facilitando negociaciones, alianzas y resolución de conflictos dentro de equipos y comunidades.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 about-card">
                <h3 class="font-weight-light">Información Personal</h3>
                <span class="line mb-5"></span>
                <ul class="mt40 info list-unstyled">
                    <li style="display: none;"><span>Fecha de Nacimiento</span> : 11/07/1996</li>
                    <li><span>Email</span> : yeanmiguelpg@gmail.com</li>
                    <li><span>Teléfono</span> : +56 9 91980527</li>
                    <li style="display: none;"><span>Dirección</span> : Bernardino Guerra, N°0213, Arica</li>
                </ul>
            </div>
        </div>
    </div>
    <!--Resume Section-->
    <section class="section" id="resume">
        <div class="container">
            <h2 class="mb-5"><span class="text-danger">Mi</span> Experiencia</h2>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                       <div class="card-header">
                            <div class="mt-2">
                                <h4>Experiencia Profesional</h4>
                                <span class="line"></span>  
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="title text-danger">2024 - Actualidad</h6>
                            <p>Psicólogo - Universidad Santo Tomás</p>
                            <p class="subtitle">Atención a estudiantes y coordinación de programas de salud mental.</p>
                            <hr>
                            <h6 class="title text-danger">2017 - 2023</h6>
                            <p>Encargado de Gestión Territorial - Ilustre Municipalidad de Arica</p>
                            <p class="subtitle">Desarrollo de proyectos para organizaciones comunitarias.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                       <div class="card-header">
                            <div class="mt-2">
                                <h4>Formación Académica</h4>
                                <span class="line"></span>  
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="title text-danger">2018 - 2022</h6>
                            <p>Psicología - Universidad Santo Tomás</p>
                            <hr>
                            <h6 class="title text-danger">2014 - 2016</h6>
                            <p>Técnico en Laboratorio Clínico - CFT de Tarapacá</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                       <div class="card-header">
                            <div class="pull-left">
                                <h4 class="mt-2">Habilidades</h4>
                                <span class="line"></span>  
                            </div>
                        </div>
                        <div class="card-body pb-2">
                            <h6>Resolución de Conflictos</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 95%"></div>
                            </div>
                            <h6>Comunicación Efectiva</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 90%"></div>
                            </div>
                            <h6>Atención Psicoterapéutica</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 85%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Nueva fila para la card horizontal -->
            <div class="row mt-5">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="mt-2">
                                <h4>Cursos Adicionales</h4>
                                <span class="line"></span>  
                            </div>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li>Curso de Liderazgo Personal en Contextos Organizacionales</li>
                                <li>Taller de Negociación y Comunicación Efectiva</li>
                                <li>Curso Atención de Calidad, Inclusiva y Sin Discriminación</li>
                                <li>Curso Técnica de Entrevista en el Marco de la Entrevista Motivacional</li>
                                <li>Curso de acompañamiento de personas Trans: prácticas para deshacer y rehacer</li>
                                <li>Curso de Técnicas psicoterapéuticas para la regulación emocional en adultos</li>
                                <li>Curso de Evaluación de Espectro Autista en población adulta: Identificación, herramientas y abordaje</li>
                                <li>Curso de Evaluación e intervención multidisciplinaria en adultos en el Espectro Autista</li>
                                <li>Curso de Innovación en las Organizaciones</li>
                                <li>Curso Desarrollando la Autoestima desde la Terapia Breve Centrada en Soluciones</li>
                                <li>Curso Técnicas de Psicoterapia Breve</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <section style="display: none;" class="section bg-dark text-center">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6 col-lg-3">
                    <div class="row ">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-alarm-clock icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">500</h1>
                            <p class="text-light mb-1">Hours Worked</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-layers-alt icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">50K</h1>
                            <p class="text-light mb-1">Project Finished</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-face-smile icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">200K</h1>
                            <p class="text-light mb-1">Happy Clients</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-heart-broken icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">2k</h1>
                            <p class="text-light mb-1">Coffee Drinked</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="service">
        <div class="container">
            <h2 class="mb-5 pb-4"><span class="text-danger">Humanizar</span> la Política Regional</h2>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="card mb-5">
                       <div class="card-header has-icon">
                            <i class="ti-comments text-danger" aria-hidden="true"></i>
                        </div>
                        <div class="card-body px-4 py-3">
                            <h5 class="mb-3 card-title text-dark">Acceso Cercano</h5>
                            <p class="subtitle">Me comprometo a establecer canales de comunicación accesibles, donde los ciudadanos puedan expresar sus inquietudes y compartir sus historias, garantizando que sus voces sean escuchadas.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card mb-5">
                       <div class="card-header has-icon">
                            <i class="ti-agenda text-danger" aria-hidden="true"></i>
                        </div>
                        <div class="card-body px-4 py-3">
                            <h5 class="mb-3 card-title text-dark">Participación Activa</h5>
                            <p class="subtitle">Promoveré la creación de espacios de participación ciudadana, brindando a todos la oportunidad de contribuir a la toma de decisiones que afectan a sus comunidades.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card mb-5">
                       <div class="card-header has-icon">
                            <i class="ti-lock text-danger" aria-hidden="true"></i>
                        </div>
                        <div class="card-body px-4 py-3">
                            <h5 class="mb-3 card-title text-dark">Transparencia y Honestidad</h5>
                            <p class="subtitle">Mantendré una comunicación clara y honesta sobre mis acciones, informando a la comunidad sobre el uso de recursos y el progreso de proyectos.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card mb-5">
                       <div class="card-header has-icon">
                            <i class="ti-heart text-danger" aria-hidden="true"></i>
                        </div>
                        <div class="card-body px-4 py-3">
                            <h5 class="mb-3 card-title text-dark">Bienestar Común</h5>
                            <p class="subtitle">Pondré el bienestar de la comunidad en primer lugar, asegurando que las políticas públicas estén alineadas con las necesidades y aspiraciones de los ariqueños y ariqueñas.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card mb-5">
                       <div class="card-header has-icon">
                            <i class="ti-world text-danger" aria-hidden="true"></i>
                        </div>
                        <div class="card-body px-4 py-3">
                            <h5 class="mb-3 card-title text-dark">Inclusión y Diversidad</h5>
                            <p class="subtitle">Garantizaré que todas las voces, especialmente de grupos vulnerables, sean incluidas en el proceso político, promoviendo igualdad y respeto por la diversidad cultural y social.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card mb-5">
                       <div class="card-header has-icon">
                            <i class="ti-bar-chart text-danger" aria-hidden="true"></i>
                        </div>
                        <div class="card-body px-4 py-3">
                            <h5 class="mb-3 card-title text-dark">Fiscalización y Rendición de Cuentas</h5>
                            <p class="subtitle">Ejerceré un rol activo en la fiscalización de la gestión pública y el uso de recursos, garantizando auditorías transparentes y el acceso ciudadano a la información.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    

    <section class="section bg-custom-gray" id="price" hidden>
        <div class="container">
            <h1 class="mb-5"><span class="text-danger">Packs</span> Pricing</h1>
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-3">
                    <div class="price-card text-center mb-4">
                        <h3 class="price-card-title">Free</h3>
                        <div class="price-card-cost">
                            <sup class="ti-money"></sup>
                            <span class="num">0</span>
                            <span class="date">MO</span>
                        </div>
                        <ul class="list">
                            <li class="list-item">5 <span class="text-muted">Project</span></li>
                            <li class="list-item">1GB <span class="text-muted">Storage</span></li>
                            <li class="list-item"><span class="text-muted">No Domain</span></li>
                            <li class="list-item">1 <span class="text-muted">User</span></li>
                        </ul>
                        <button class="btn btn-primary btn-rounded w-lg">Subscribe</button>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="price-card text-center mb-4">
                        <h3 class="price-card-title">Basic</h3>
                        <div class="price-card-cost">
                            <sup class="ti-money"></sup>
                            <span class="num">10</span>
                            <span class="date">MO</span>
                        </div>
                        <ul class="list">
                            <li class="list-item">50 <span class="text-muted">Project</span></li>
                            <li class="list-item">10GB <span class="text-muted">Storage</span></li>
                            <li class="list-item">1<span class="text-muted">Domain</span></li>
                            <li class="list-item">5 <span class="text-muted">User</span></li>
                        </ul>
                        <button class="btn btn-primary btn-rounded w-lg">Subscribe</button>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="price-card text-center price-card-requried mb-4">
                        <h3 class="price-card-title">Exclusive</h3>
                        <div class="price-card-cost">
                            <sup class="ti-money"></sup>
                            <span class="num">25</span>
                            <span class="date">MO</span>
                        </div>
                        <ul class="list">
                            <li class="list-item">150 <span class="text-muted">Project</span></li>
                            <li class="list-item">15GB <span class="text-muted">Storage</span></li>
                            <li class="list-item">5<span class="text-muted"> Domain</span></li>
                            <li class="list-item">15<span class="text-muted">User</span></li>
                        </ul>
                        <button class="btn btn-primary btn-rounded w-lg">Subscribe</button>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="price-card text-center mb-4">
                        <h3 class="price-card-title">Pro</h3>
                        <div class="price-card-cost">
                            <sup class="ti-money"></sup>
                            <span class="num">99</span>
                            <span class="date">MO</span>
                        </div>
                        <ul class="list">
                            <li class="list-item">500 <span class="text-muted">Project</span></li>
                            <li class="list-item">1000GB <span class="text-muted">Storage</span></li>
                            <li class="list-item">10<span class="text-muted"> Domain</span></li>
                            <li class="list-item">Unlimite<span class="text-muted">User</span></li>
                        </ul>
                        <button class="btn btn-primary btn-rounded w-lg">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section bg-dark py-5" hidden>
        <div class="container text-center">
            <h2 class="text-light mb-5 font-weight-normal">I Am Available For FreeLance</h2>
            <button class="btn bg-primary w-lg" >Hire me</button>
        </div>
    </section>

    <!-- Portfolio Section -->
    <section class="section bg-custom-gray" id="experiencia">
        <div class="container">
            <h1 class="mb-5"><span class="text-danger">Mis</span> Experiencias</h1>
            <div class="portfolio">
                <div class="filters">
                    <a href="#" data-filter=".new" class="active">
                        Todo
                    </a>
                    <a href="#" data-filter=".advertising">
                        Resumen
                    </a>
                    <a href="#" data-filter=".branding">
                        Reuniones
                    </a>
                    <a href="#" data-filter=".web">
                        Momentos
                    </a>
                </div>
                <div class="portfolio-container"> 
                    <div class="col-md-6 col-lg-4 web new">
                        <div class="portfolio-item">
				<img src="{%static 'Template7/assets/imgs/web-1.jpg'%}?v={{ STATIC_VERSION }}" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
                            <div class="content-holder">
                                <a class="img-popup" href="assets/imgs/web-1.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title">NOCHE DIGNA</h6>
                                    <p class="subtitle">El darse cuenta - Actividad para personas en situación Calle en Hospederia Noche Digna.</p>
                                </div>
                            </div>   
                        </div>             
                    </div>
                    <div class="col-md-6 col-lg-4 web new">
                        <div class="portfolio-item">
				<img src="{%static 'Template7/assets/imgs/web-2.jpg'%}?v={{ STATIC_VERSION }}" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
                            <div class="content-holder">
                                <a class="img-popup" href="assets/imgs/web-2.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title">ANIMACIÓN</h6>
                                    <p class="subtitle">Animación Carnaval 2024.</p>
                                </div>
                            </div> 
                        </div>                         
                    </div>
                    <div class="col-md-6 col-lg-4 advertising new">
                        <div class="portfolio-item">
				<img src="{%static 'Template7/assets/imgs/advertising-2.jpg'%}?v={{ STATIC_VERSION }}" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">                         
                            <div class="content-holder">
                                <a class="img-popup" href="assets/imgs/advertising-2.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title">SALUD MENTAL</h6>
                                    <p class="subtitle">Intervención estudiantes Santo Tomás.</p>
                                </div>
                            </div>    
                        </div>              
                    </div> 
                    <div class="col-md-6 col-lg-4 web">
                        <div class="portfolio-item">
				<img src="{%static 'Template7/assets/imgs/web-4.jpg'%}?v={{ STATIC_VERSION }}" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
                            <div class="content-holder">
                                <a class="img-popup" href="assets/imgs/web-4.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title">ENCUENTRO DE JOVENES</h6>
                                    <p class="subtitle">Encuentro Juvenil Zona Norte.</p>
                                </div>
                            </div>
                        </div>                                                     
                    </div>

                    <div class="col-md-6 col-lg-4 advertising"> 
                        <div class="portfolio-item">
				<img src="{%static 'Template7/assets/imgs/advertising-1.jpg'%}?v={{ STATIC_VERSION }}" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">                               
                            <div class="content-holder">
                                <a class="img-popup" href="assets/imgs/advertising-1.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title">CARNAVAL CON LA FUERZA DEL SOL</h6>
                                    <p class="subtitle">Animación Carnval 2020.</p>
                                </div>
                            </div>
                        </div>                                                       
                    </div> 
                    <div class="col-md-6 col-lg-4 web new">
                        <div class="portfolio-item">
				<img src="{%static 'Template7/assets/imgs/web-3.jpg'%}?v={{ STATIC_VERSION }}" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">  
                           <div class="content-holder">
                                <a class="img-popup" href="assets/imgs/web-3.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title">Psicología UST</h6>
                                    <p class="subtitle">Actividad en clase de Relaciones Humanas.</p>
                                </div>
                            </div>
                        </div>                                                     
                    </div>
                    <div class="col-md-6 col-lg-4 advertising new">
                        <div class="portfolio-item">
				<img src="{%static 'Template7/assets/imgs/advertising-3.jpg'%}?v={{ STATIC_VERSION }}" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">       
                           <div class="content-holder">
                                <a class="img-popup" href="assets/imgs/advertising-3.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title">TITULACIÓN</h6>
                                    <p class="subtitle">Ceremonia con mi familia.</p>
                                </div>
                            </div>
                        </div>                                                       
                    </div> 
                    <div class="col-md-6 col-lg-4 advertising new"> 
                        <div class="portfolio-item">
				<img src="{%static 'Template7/assets/imgs/advertising-4.jpg'%}?v={{ STATIC_VERSION }}" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">            
                            <div class="content-holder">
                                <a class="img-popup" href="assets/imgs/advertising-4.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title">Vendimia Codpa 2024</h6>
                                    <p class="subtitle">Animando y cantando en la gran fiesta de la Vendimia Codpa 2024.</p>
                                </div>
                            </div>
                        </div>
                                
                    </div> 
                    <div class="col-md-6 col-lg-4 branding new">
                        <div class="portfolio-item">
				<img src="{%static 'Template7/assets/imgs/branding-1.jpg'%}?v={{ STATIC_VERSION }}" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">                        
                            <div class="content-holder">
                                <a class="img-popup" href="assets/imgs/branding-1.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title">TALLER A JOVENES</h6>
                                    <p class="subtitle">Taller a jovenes parroquia San Jose Obrero.</p>
                                </div>
                            </div> 
                        </div>
                    </div> 
                    <div class="col-md-6 col-lg-4 branding">
                        <div class="portfolio-item">
				<img src="{%static 'Template7/assets/imgs/branding-2.jpg'%}?v={{ STATIC_VERSION }}" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">  
                            <div class="content-holder">
                                <a class="img-popup" href="assets/imgs/branding-2.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title">TALLER VOCACIONAL</h6>
                                    <p class="subtitle">Taller Vocacional para mas de Cien Jovenes año 2017.</p>
                                </div>
                            </div>
                        </div>                                                     
                    </div> 
                    <div class="col-md-6 col-lg-4 branding new">
                        <div class="portfolio-item">
				<img src="{%static 'Template7/assets/imgs/branding-3.jpg'%}?v={{ STATIC_VERSION }}" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">   
                            <div class="content-holder">
                                <a class="img-popup" href="assets/imgs/branding-3.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title">ARICA ES CARNAVAL</h6>
                                    <p class="subtitle">Disfrutando y compartiendo la la alegria de Socoroma.</p>
                                </div>
                            </div>
                        </div>                                                    
                    </div> 
                    <div class="col-md-6 col-lg-4 branding">
                        <div class="portfolio-item">
				<img src="{%static 'Template7/assets/imgs/branding-4.jpg'%}?v={{ STATIC_VERSION }}" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">                      
                            <div class="content-holder">
                                <a class="img-popup" href="assets/imgs/branding-4.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title">REUNIÓN</h6>
                                    <p class="subtitle">Reunión con Dirigentes Sociales.</p>
                                </div>
                            </div>
                        </div>                                                      
                    </div> 
                    <div class="col-md-6 col-lg-4 branding">
                        <div class="portfolio-item">
				<img src="{%static 'Template7/assets/imgs/branding-5.jpg'%}?v={{ STATIC_VERSION }}" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">          
                            <div class="content-holder">
                                <a class="img-popup" href="assets/imgs/branding-5.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title">SOLIDARIDAD</h6>
                                    <p class="subtitle">Entregando comida a personas en situación calle año 2019.</p>
                                </div>
                            </div>
                        </div>                                                   
                    </div>
                </div> 
            </div>  
        </div>            
    </section>
    <!-- End of portfolio section -->

    <section style="display: none;" class="section" id="blog">
        <div class="container">
            <h2 class="mb-5">Latest <span class="text-danger">News</span></h2>
            <div class="row">
                <div class="blog-card">
                    <div class="img-holder">
			    <img src="{%static 'Template7/assets/imgs/blog1.jpg'%}?v={{ STATIC_VERSION }}" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                    </div>
                    <div class="content-holder">
                        <h6 class="title">Consectetur adipisicing elit</h6>

                        <p class="post-details">
                            <a href="#">By: Admin</a>
                            <a href="#"><i class="ti-heart text-danger"></i> 234</a>
                            <a href="#"><i class="ti-comment"></i> 123</a>
                        </p>
                        
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet nesciunt qui sit velit delectus voluptates, repellat ipsum culpa id deleniti. Rerum debitis facilis accusantium neque numquam mollitia modi quasi distinctio.</p>

                        <p><b>Necessitatibus nihil impedit! Ex nisi eveniet, dolor aliquid consequuntur repudiandae.</b></p>
                        <p>Magnam in repellat enim harum omnis aperiam! Explicabo illo, commodi, dolor blanditiis cupiditate harum nisi vero accusamus laudantium voluptatibus dolores quae obcaecati.</p>

                        <a href="#" class="read-more">Read more <i class="ti-angle-double-right"></i></a>
                    </div>
                </div><!-- end of blog wrapper -->

                <!-- blog-card -->
                <div class="blog-card">
                    <div class="img-holder">
                <img src="{%static 'Template7/assets/imgs/blog2.jpg'%}?v={{ STATIC_VERSION }}" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                    </div>
                    <div class="content-holder">
                        <h6 class="title">Explicabo illo</h6>

                        <p class="post-details">
                            <a href="#">By: Admin</a>
                            <a href="#"><i class="ti-heart text-danger"></i> 456</a>
                            <a href="#"><i class="ti-comment"></i> 264</a>
                        </p>
                        
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit excepturi laborum enim, vitae ipsam atque eum, ad iusto consequuntur voluptas, esse doloribus. Perferendis porro quisquam vitae exercitationem aliquid, minus eos laborum repudiandae, cumque debitis iusto omnis praesentium? Laborum placeat sit adipisci illum tempore maxime, esse qui quae? Molestias excepturi corporis similique doloribus. Esse vitae earum architecto nulla non dolores illum at perspiciatis quod, et deleniti cupiditate reiciendis harum facere, delectus eum commodi soluta distinctio sit repudiandae possimus sunt. Ipsum, rem.</p>

                        <a href="#" class="read-more">Read more <i class="ti-angle-double-right"></i></a>
                    </div>
                </div><!-- end of blog wrapper -->
                <!-- blog-card -->
                <div class="blog-card">
                    <div class="img-holder">
			    <img src="{%static 'Template7/assets/imgs/blog3.jpg'%}?v={{ STATIC_VERSION }}" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                    </div>
                    <div class="content-holder">
                        <h4 class="title">Porro Quisqua</h4>

                        <p class="post-details">
                            <a href="#">By: Admin</a>
                            <a href="#"><i class="ti-heart text-danger"></i> 431</a>
                            <a href="#"><i class="ti-comment"></i> 312</a>
                        </p>
                        
                        <p> consectetur adipisicing elit. Impedit excepturi laborum enim, vitae ipsam atque eum, ad iusto consequuntur voluptas, esse doloribus. Perferendis porro quisquam vitae exercitationem aliquid, minus eos laborum repudiandae, cumque debitis iusto omnis praesentium? Laborum placeat sit adipisci illum tempore maxime, esse qui quae? Molestias excepturi corporis similique doloribus. Esse vitae earum architecto nulla non dolores illum at perspiciatis quod, et deleniti cupiditate reiciendis harum facere, delectus eum commodi soluta distinctio sit repudiandae possimus sunt. Ipsum, rem.</p>

                        <a href="#" class="read-more">Read more <i class="ti-angle-double-right"></i></a>
                    </div>
                </div><!-- end of blog wrapper -->

            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section class="section" id="contact">
        <div class="container">
            <h2 class="mb-5">Contacto</h2>
            <div class="row">
                <div class="col-lg-8">
                    <div class="contact-form-card">
                        <h4 class="contact-title">Envíame un mensaje</h4>
                        <form action="">
                            <div class="form-group">
                                <input  class="form-control" type="text" placeholder="Nombre *" >
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="email" placeholder="Email *" >
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Mensaje *" rows="7" ></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary" id="enviarMensaje">Enviar Mensaje (¡PRONTO!)</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="contact-info-card">
                        <h4 class="contact-title">Información de Contacto</h4>
                        <div class="row mb-2">
                            <div class="col-1 pt-1 mr-1">
                                <i class="ti-mobile icon-md"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="d-inline">Teléfono: <br> <span class="text-muted">+56 9 91980527</span></h6>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-1 pt-1 mr-1">
                                <i class="ti-envelope icon-md"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="d-inline">Email: <br> <span class="text-muted">yeanmiguelpg@gmail.com</span></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <footer class="footer py-3">
        <div class="container">
            <p class="small mb-0 text-light">&copy; <script>document.write(new Date().getFullYear())</script> Yean Pastén Galvez. Todos los derechos reservados.</p>
        </div>
    </footer>

	<!-- core  -->
    <script src="{%static 'Template7/assets/vendors/jquery/jquery-3.4.1.js'%}?v={{ STATIC_VERSION }}"></script>
    <script src="{%static 'Template7/assets/vendors/bootstrap/bootstrap.bundle.js'%}?v={{ STATIC_VERSION }}"></script>

    <!-- bootstrap 3 affix -->
    <script src="{%static 'Template7/assets/vendors/bootstrap/bootstrap.affix.js'%}?v={{ STATIC_VERSION }}"></script>

    <!-- Isotope  -->
    <script src="{%static 'Template7/assets/vendors/isotope/isotope.pkgd.js'%}?v={{ STATIC_VERSION }}"></script>
    
    <!-- Google mpas 
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtme10pzgKSPeJVJrG1O3tjR6lk98o4w8&callback=initMap"></script>
    -->
    <!-- JohnDoe js -->
    <script src="{%static 'Template7/assets/js/johndoe.js'%}?v={{ STATIC_VERSION }}"></script>

</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.getElementById("enviarMensaje").addEventListener("click", function(event) {
    event.preventDefault();  // Previene el envío del formulario o redirección
    Swal.fire({
        title: 'Pronto Disponible',
        text: 'Pronto rellenando este formulario me podrás enviar un mensaje directo.',
        icon: 'info', 
        confirmButtonText: 'Entendido',
        background: '#fff',
        confirmButtonColor: '#3085d6',
        allowOutsideClick: false,
        allowEscapeKey: false,
        customClass: {
            title: 'mi-titulo-personalizado', 
            popup: 'mi-popup-personalizado'
        }
    });
});

</script>