<!DOCTYPE html>
<html lang="en">
{%include 'dashboard/header.html'%}
{%load static%}
<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0"style="background-image: url('{% static 'admin/img/login_02.jpg'%}');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-white mb-4">Crear una cuenta!</h1>
                            </div>
                            <form class="user" onsubmit="validatePasswords(event)"  method="post" action="{% url 'registrar_post' %}" >
				{% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" name="nombres" class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="Nombres">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" name="apellidos"class="form-control form-control-user" id="exampleLastName"
                                            placeholder="Apellidos">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" name="correo" class="form-control form-control-user" id="exampleInputEmail"
                                        placeholder="Correo electrónico">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" id="password" name="password" class="form-control form-control-user"
                                            id="password" placeholder="Contraseña">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" id="passrepeat" name="passrepeat" class="form-control form-control-user"
                                            id="passrepeat" placeholder="Repetir Contraseña">
                                    </div>
                                </div>
                                <a href="" >
                                   <button class="btn btn-primary btn-user btn-block"type="submit"> Registrar cuenta</button>
                                </a>
                                <hr>
                                <a href="" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Registrar con Google
                                </a>
                                <a href="" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i>Registar con Facebook
                                </a>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small text-white"  href="{%url 'mostrar_olvidopws'%}">¿Olvidó contraseña?</a>
                            </div>
                            <div class="text-center">
				    <a class="small text-white"  href="{%url 'mostrar_login'%}">¿Ya posee una cuenta? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{%include 'dashboard/footer.html'%}
</body>

</html>

<script>
	function validatePasswords(event) {
            var password = document.getElementById('password').value;
            var pasrepeat = document.getElementById('passrepeat').value;
            var errorMessage = document.getElementById('error-message');

            if (password !== pasrepeat) {
                errorMessage.textContent = "Passwords do not match!";
                event.preventDefault(); // Evita el envío del formulario
            } else {
                errorMessage.textContent = ""; // Limpia el mensaje de error
            }
        }
</script>
